# Przewidywanie SKRZYNIA
- LK3 046/L SKRZYNIA BIEGÓW R32400-158 praca od 05.04.2019 do 14.04.2020,
- LK3 050/L SKRZYNIA BIEGÓW R32400-158 praca od 22.03.2019 do 16.01.2021,
- LK3 048/L SKRZYNIA BIEGÓW R32400-158 praca od 25.01.2019 do 13.04.2021,

In [1]:
import pandas as pd

import datetime
import pyarrow

## LK 50/L

In [2]:
df = pd.read_parquet('../data/LK3_050L_2021_01.parquet', engine='pyarrow')
df.head(3)

,maszyna,data,czas,engoilp,engoilt,enghours,fuelus,intakep,intaket,groilp,...,selgear,speed,breakp,trnaut,hydoilt,hydoilp,tempin,engrpm,engcoolt,engtps
0,KLDSMG_LK3___050L,2021/01/01,00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KLDSMG_LK3___050L,2021/01/01,01:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KLDSMG_LK3___050L,2021/01/01,01:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_wos174 = pd.DataFrame(columns=df.columns)

for file_date in ['2021_01','2020_12','2020_11','2020_10','2020_09']:
    df_tmp = pd.read_parquet('../data/LK3_050L_' + file_date + '.parquet', engine='pyarrow')
    df_wos174 = pd.concat([df_wos174, df_tmp], axis=0)

In [4]:
df_wos174_copy = df_wos174.copy()

In [5]:
df_wos174 = df_wos174_copy.copy()

#zmienna wróżka; bo jest narastająca, zatem jak blisko konkretnej daty się psują to jest tu zakodowane info o statusie
df_wos174 = df_wos174.drop(columns=['enghours'])

#mało wartości
df_wos174 = df_wos174.drop(columns=['trnaut'])

#cleaning if all values are NaN
#https://stackoverflow.com/questions/13413590/how-to-drop-rows-of-pandas-dataframe-whose-value-in-a-certain-column-is-nan
df_wos174 = df_wos174.dropna(thresh=len(df_wos174.columns)-3) 

#datatime column
df_wos174['dt'] = pd.to_datetime(df_wos174['data'] + ' ' + df_wos174['czas'])
df['data'] = df['data'].astype('datetime64[ns]')

#sorting descending by date
df_wos174 = df_wos174.sort_values(by=['dt'], ascending = False).reset_index(drop=True)

#delete observations after failure
df_wos174 = df_wos174[df_wos174['dt']<'2021-01-17']

#prepare aggregats
df_wos174_1min = df_wos174.resample('1min', on='dt').mean().reset_index().set_index('dt').fillna(method='bfill')
df_wos174_1hour = df_wos174.resample('1H', on='dt').mean().reset_index().set_index('dt').fillna(method='bfill')
df_wos174_1day = df_wos174.resample('1D', on='dt').mean().reset_index().set_index('dt').fillna(method='bfill')

In [6]:
# tworzymy cechy 6h wcześniej, 12h wcześniej 24h wcześniej 48h wcześniej, 7dni wcześniej
# i agregaty mean (jak pyknie dodamy min i max)

df_tmp_6h = df_wos174_1hour.rolling(6).mean()
df_tmp_6h.columns = ['avg6_'+ col for col in list(df_tmp_6h.columns)]

df_tmp_12h = df_wos174_1hour.rolling(12).mean()
df_tmp_12h.columns = ['avg12_'+ col for col in list(df_tmp_12h.columns)]

df_tmp_24h = df_wos174_1hour.rolling(24).mean()
df_tmp_24h.columns = ['avg24_'+ col for col in list(df_tmp_24h.columns)]

df_tmp_48h = df_wos174_1hour.rolling(48).mean()
df_tmp_48h.columns = ['avg48_'+ col for col in list(df_tmp_48h.columns)]

df_tmp_168h = df_wos174_1hour.rolling(168).mean()
df_tmp_168h.columns = ['avg168_'+ col for col in list(df_tmp_168h.columns)]

In [7]:
df_wos174_1hour_hist = pd.concat([df_wos174_1hour, df_tmp_6h, df_tmp_12h, df_tmp_24h, df_tmp_48h, df_tmp_168h],axis=1)

In [8]:
df_wos174_1hour_hist = df_wos174_1hour_hist.reset_index()
# status good / bad. If 2 weeks before failture then bad else good

df_wos174_1hour_hist['status'] = df_wos174_1hour_hist['dt'].apply(lambda x: 0 if x < datetime.datetime(2021,1,17)-datetime.timedelta(days=14) else 1)

# buffor - 2 weeks between good and bads
df_wos174_1hour_hist['buffor'] = df_wos174_1hour_hist['dt'].apply(lambda x: 1 if x < datetime.datetime(2021,1,17)-datetime.timedelta(days=30) else 0)

# not longer then 3 months before failure
df_wos174_1hour_hist['notLonger'] = df_wos174_1hour_hist['dt'].apply(lambda x: 0 if x < datetime.datetime(2021,1,17)-datetime.timedelta(days=90) else 1)

In [9]:
df_wos174_1hour_hist_final = pd.concat([df_wos174_1hour_hist[df_wos174_1hour_hist['status']==1],
                                        df_wos174_1hour_hist[(df_wos174_1hour_hist['status']==0) & (df_wos174_1hour_hist['buffor']==1) & (df_wos174_1hour_hist['notLonger']==1)]
                                       ], axis=0)

print(f'shape: {df_wos174_1hour_hist_final.shape}')

df_wos174_1hour_hist_final.status.value_counts()

shape: (1566, 100)

0    1440
1     126
Name: status, dtype: int64

In [10]:
#df_wos174_1hour_hist_final = df_wos174_1hour_hist_final.drop(columns=['index']).iloc[:,1:-2].reset_index(drop=True)
df_wos174_1hour_hist_final = df_wos174_1hour_hist_final.iloc[:,1:-2].reset_index(drop=True)
df_wos174_1hour_hist_final.head(3)

,engoilp,engoilt,fuelus,intakep,intaket,groilp,groilt,selgear,speed,breakp,...,avg168_selgear,avg168_speed,avg168_breakp,avg168_hydoilt,avg168_hydoilp,avg168_tempin,avg168_engrpm,avg168_engcoolt,avg168_engtps,status
0,391.5,42.875,15.34375,189.3125,38.53125,1422.5,29.53125,-1.774194,5.419355,4993.75,...,-0.976627,3.833340,4147.433390,39.081595,3.71225,28.100167,1049.640096,71.197567,26.198890,1
1,391.5,42.875,15.34375,189.3125,38.53125,1422.5,29.53125,-1.774194,5.419355,4993.75,...,-0.986050,3.858977,4166.851779,39.081223,3.72466,28.100599,1054.341091,71.162455,26.310270,1
2,391.5,42.875,15.34375,189.3125,38.53125,1422.5,29.53125,-1.774194,5.419355,4993.75,...,-0.995474,3.884614,4186.270168,39.080851,3.73707,28.101032,1059.042086,71.127342,26.421649,1

In [11]:
df_wos174_1hour_hist_final.to_csv('../data/df_lk50.csv', sep="|", index=False)